services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    command: npm run dev
    env_file: .env
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/postgres
    depends_on:
      - db
    ports:
      - "4000:4000"

  front:
    build:
      context: .
      dockerfile: apps/front/Dockerfile
    command: npm run dev -- --host 0.0.0.0
    env_file: .env
    environment:
      VITE_API_URL: http://localhost:4000
    depends_on:
      - api
    ports:
      - "5173:5173"

volumes:
  db_data:
